*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: #0084FD;
    --header-text-color: white;
    --button-bg-color: #0084FD;
    --cyan-bg-color: #B4DDFF;
    --violet-bg-color: #9792E4;
    --violet-text-color: #837EC1;
}

h1 {
    padding: 40px 0;
    font-size: 2rem;
}

h2 {
    padding: 20px 0 25px;
    font-size: 1.5rem;
}

p{
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 30px;
}

.fl {
    display: flex;
}

.fl-col {
    display: flex;
    flex-direction: column;
}

.fl-c {
    justify-content: center;
}

.btn {
    margin: 10px 0;
    padding: 10px 45px;
    background-color: #0084FD;
    color: white;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
}

/* header */
header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    width: 100%;
    height: 80px;
}

header .container{
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: none;
}

.logo > img {
    width: 70px;
    vertical-align: middle;
}

.hamburger {
    line-height: 80px;
    font-size: 2rem;
}

/* main */

/* ! intro */
.intro {
    width: 100%;
    color:#0084FD;
}

.intro-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.intro .font-awesome {
    color: var(--header-bg-color);
    font-size: 5rem;
    padding-top: 25px;
}

.card {
    width: 100%;
    background-color: var(--cyan-bg-color);
    margin: 10px 0;
    padding: 0 20px;
    border-radius: 20px;
    text-align: center;
}

.card.text-left {
    text-align: left;
}

.card p {
    padding-bottom: 20px;
}

.intro-row .btn > i {
    padding-right: .5rem;
}

.card img {
    padding-top: 20px;
    display: block;
    width: 90%;
    max-width: 250px;
}

/* main */
/* ! planning */
#planning {
    width: 100%;
    background-color: var(--violet-bg-color);
    padding: 50px 0;
    color: white;
}

#planning .container {
    flex-direction: column;
}

#planning img {
    width: 90%;
    margin-bottom: 40px;
}

.planning-right {
    background-color: white;
    border-radius: 40px;
    margin: 40px 0 0;
}

.card-white {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    color: black;
    text-align: center;
}

.card-white p {
    font-style: italic;
}

.card-white .font-awesome {
    width: 50px;
    height: 50px;
    background-color: var(--violet-text-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 30px auto;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

#planning .card-white-img {
    margin: 0;
}

/* ! testimonials */
.testimonials {
    width: 100%;
    background-color: white;
    text-align: center;
}

.testimonials article {
    width: 100%;
    border-radius: 40px;
    padding: 30px 10px;
    background-color: var(--violet-bg-color);
    margin: 20px 0;
    color: white;
}

.testimonials article:first-child {
    background-color: white;
    color: black;
    text-align: center;
}

.sup-title {
    text-transform: uppercase;
}
.testimonials article h1 {
    color: var(--violet-bg-color);
}

.testimonials .article-first > p {
    padding: 0;
}

.testimonials article p {
    padding: 30px 0;
}

.article-img {
    margin:0 auto;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.article-img img {
    height: 100px;
}

/* !benefit */
.benefit {
    background-color: var(--violet-bg-color);
    width: 100%;
    padding: 30px 0;
}
.benefit h1 {
    color: white;
    text-align: center;
}

.benefit article {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: grey;
    margin: 10px 0;
    padding: 20px;
}

.benefit article .number {
    font-size: 3rem;
    font-weight: 700;
    color: var(--violet-bg-color);
}

.benefit article h2 {
    color: var(--violet-bg-color);
}

.benefit .btn {
    background-color: var(--violet-bg-color);
    color: white;
    font-weight: 700;
    margin-top: 30px;
}



/* about us */
.about-us {
    width: 100%;
    padding: 50px 0;
    align-items: center;
}

.about-us .text {
    width: 100%;
}

.about-us h1 {
    color: var(--violet-bg-color);
    padding: 15px 0;
}

.about-us p {
    padding: 10px 0;
}

.about-us .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 25px;
}

.about-us .photo > img {
    width: 200px;
}

.about-info {
    font-size: 3rem;
}

.quotation-mark {
    color: var(--violet-bg-color);
}

.img-description {
    color: var(--violet-bg-color);
    font-weight: 700;
    font-size: 2rem;
    padding: 20px 0;
}

.btn-violet {
    color: white;
    background-color: var(--violet-bg-color);
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 20px;
    font-size: .8rem;
}

/* footer */
.footer-top {
    width: 100%;
    height: 500px;
    background-color: var(--violet-bg-color);
    color: white;
    text-align: center;
}

.footer-top .sup-title {
    padding-top: 40px;
}

.footer-top h1 {
    color: rgb(235, 189, 103);
    font-size: 5rem;
    padding: 0 0 20px;
}

.footer-top .btn {
    margin: 30px auto;
    padding: 20px 90px;
    text-transform: capitalize;
    background-color: white;
    color: var(--violet-bg-color);
    font-weight: 700;
    border-radius: 30px;
}

.copy {
    font-size: .8rem;
}

.footer-bottom {
    width: 100%;
    height: 300px;
    background-color: rgb(56, 56, 56);
    color:white;
    justify-content: space-around;
    align-items: center;
    font-size: .8rem;
    text-align: center;
}

.footer-bottom .credits {
    padding: 30px 20px;
}

.footer-bottom a {
    color: var(--violet-text-color);
    text-decoration: underline;
}




/* ? media queries tablet 768 */
@media screen and (min-width: 768px) {
    header {
        width: 100%;
    }

    /* intro */
    .intro {
        width: 100%;
        margin: 0 auto;
    }

    .intro-row {
        flex-direction: row;
        gap: 10px;
    }

    .card {
        width: calc(100% / 3 - 10px);
    }

    .card:first-child {
        flex-grow: 1;
    }

    /* planning */
    #planning .planning-left img {
    width: 80%;
    margin-bottom: 40px;
    align-self: center;
    }

    /* testimonials */
    .testimonials {
        width: 100%;
        background-color: white;
        text-align: left;
    }

    .testimonials article {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .article-img {
        width: 200px;
        height: 200px;
    }

    .article-img img {
        height: 200px;
    }  

    .article-text {
        width: 70%;
        padding: 0 30px 20px;
    }

    /* benefit */
    .benefit .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefit article {
        width: calc(100% / 2 - 20px);
        border-radius: 10px;
        margin: 10px 10px;
    }

    /* about us */

    .about-us .container {
        margin: 10px 0;
        flex-direction: row;
    }

    .about-us .text {
        width: 60%;
        padding: 0 60px ;
    }

    .about-us .text h1 {
        font-size: 4rem;
    }

    .about-us .photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 25px;
    }

    .about-us .photo>img {
        width: 200px;
    }

    .about-info {
        width: 30%;
        font-size: 2rem;
    }

    .quotation-mark {
        color: var(--violet-bg-color);
    }

    .img-description {
        color: var(--violet-bg-color);
        font-weight: 700;
        font-size: 1rem;
        padding: 20px 0;
    }
}




/* ? media queries desktop 992 */
@media screen and (min-width: 992px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }

    header {
        background-color: var(--header-bg-color);
        height: 80px;
    }

    .hamburger {
        display: none;
    }

    .logo {
        line-height: 80px;
    }

    .menu {
        display: flex;
        line-height: 80px;
    }

    ul.menu {
        list-style-type: none;
    }

    ul.menu li {
        padding: 0 5px;
    }

    .btn-white {
        padding: 8px 16px;
        background-color: white;
        color: black;
        cursor: pointer;
        border-radius: 20px;
    }

    /* jumbotron */
    #planning .container {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .card-white {
        padding: 20px 30px 0;
    }

    #planning .card-white-img {
        width: 60%;
    }

    .planning-left,
    .planning-right {
        width: 45%;
    }

    .planning-right {
        align-self: flex-end;
    }

    /* benefit */
    .benefit .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefit article {
        width: calc(100% / 3 - 20px);
        border-radius: 10px;
        margin: 10px 10px;
    }
}

