*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: #0084FD;
    --header-text-color: white;
    --button-bg-color: #0084FD;
    --cyan-bg-color: #B4DDFF;
    --violet-bg-color: #9792E4;
    --violet-text-color: #837EC1;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.fl {
    display: flex;
}

/* header */
header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    border: 2px solid black;
    height: 80%;
    width: 100px;
}

nav {
    border: 2px solid yellow;
    height: 80%;
    width: 100px;
}

/* main */

/* ! intro */
.intro {
    /* background-color: green; */
    align-items: center;
    flex-direction: column;
}
.card {
    width: 80%;
    height: 400px;
    background-color: var(--cyan-bg-color);
    /* border: 3px solid green; */
    margin: 10px 0;
}



/* media queries tablet 768 */
@media screen and (min-width: 768px) {
    header { background-color: red;}
}




/* media queries desktop 992 */
@media screen and (min-width: 992px) {
    header { background-color: green;}
}