*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: #0084FD;
    --header-text-color: white;
    --button-bg-color: #0084FD;
    --cyan-bg-color: #B4DDFF;
    --violet-bg-color: #9792E4;
    --violet-text-color: #837EC1;
}
.container {
    margin: 0 30px;
}

.fl {
    display: flex;
}

.fl-col {
    display: flex;
    flex-direction: column;
}

.fl-c {
    justify-content: center;
}

.btn {
    margin: 10px 0;
    padding: 10px 45px;
    background-color: #0084FD;
    color: white;
    display: inline-block;
    border-radius: 20px;
}

/* header */
header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    width: 100%;
    height: 80px;
}

header .container{
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: none;
}

.logo {
    width: 50%;
}

.logo > img {
    width: 70px;
    vertical-align: middle;
}

.hamburger {
    width: 50px;
    height: 80px;
    flex-direction: row-reverse;
    line-height: 80px;
}

/* main */

/* ! intro */
.intro {
    width: 100%;
}

.intro-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    width: 100%;
    background-color: var(--cyan-bg-color);
    margin: 10px 0;
    padding: 0 20px;
    border-radius: 20px;
    text-align: center;
}

.card.text-left {
    text-align: left;
}

.card h2 {
    color: #0084FD;
    padding: 25px 0;
}

.card p {
    padding-bottom: 20px;
}

.card img {
    padding-top: 20px;
    display: block;
    width: 90%;
    max-width: 250px;
}

/* main */
/* ! planning */
#planning {
    width: 100%;
    background-color: var(--violet-bg-color);
}

#planning .container {
    flex-direction: column;
}

img {
    width: 100%;
    /* background-size: cover; */
}

.planning-right {
    background-color: white;
    border-radius: 20px;
}

.card-white {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}

/* ! testimonials */
.testimonials {
    width: 100%;
    background-color: white;
    border: 2px solid black;
}

.testimonials article {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: violet;
    margin: 10px 0;
    
}

/* !benefit */
.benefit {
    background-color: violet;
    width: 100%;

}
.benefit article {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    margin: 10px 0;
}

/* about us */
.about-us {
    background-color: beige;
    width: 100%;
    align-items: center;
}

.about-us .container {
    border: 2px solid black;
    width: 90%;
    margin: 10px 0;
}

.about-us .text {
    width: 100%;background-color: grey;
    height: 300px;
}

.about-us .photo {
    width: 100%;
    background-color: darkgrey;
    height: 100px;
}

/* footer */
.footer-top {
    width: 100%;
    height: 500px;
    background-color: violet;
}

.footer-bottom {
    width: 100%;
    height: 300px;
    background-color: rgb(56, 56, 56);
}




/* ? media queries tablet 768 */
@media screen and (min-width: 768px) {
    header {
        width: 100%;
    }

    .intro {
        width: 100%;
        margin: 0 auto;
    }

    .intro-row {
        flex-direction: row;
        gap: 10px;
    }

    .card {
        width: calc(100% / 3 - 10px);
    }

    .card:first-child {
        flex-grow: 1;
    }

    /* benefit */
    .benefit .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefit article {
        width: calc(100% / 2 - 20px);
        height: 200px;
        border-radius: 10px;
        background-color: white;
        margin: 10px 10px;
    }

    /* about us */

    .about-us .container {
        border: 2px solid black;
        width: 90%;
        margin: 10px 0;
        flex-direction: row;
    }

    .about-us .text {
        width: 60%;background-color: grey;
        height: 300px;
    }

    .about-us .photo {
        width: 40%;
        background-color: darkgrey;
        height: 100px;
    }
}




/* ? media queries desktop 992 */
@media screen and (min-width: 992px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }

    header {
        background-color: #837EC1;
        height: 80px;
    }

    /* jumbotron */
    #planning .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .planning-left,
    .planning-right {
        width: 50%;
        border: 3px solid white;
    }

    .planning-right {
        height: 30%;
        align-self: flex-end;
    }

    /* benefit */
    .benefit .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefit article {
        width: calc(100% / 3 - 20px);
        height: 200px;
        border-radius: 10px;
        background-color: white;
        margin: 10px 10px;
    }
}

